html {
  min-width: 300px;
}

#website-body {
  max-width: 950px;
}

#navbar a {
  text-align: center;
}

.icon {
  height: 1.25em;
  width: 1.25em;
  /* This seems awful, but is apparantly standard? */
  /* https://fontawesome.com/docs/web/add-icons/svg-bare */
  /* https://medium.com/p/d44b3d7b26b4 */
  vertical-align: -0.125em;
}

.icons>li {
  padding: 1rem;
}